<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>曾用博客模板</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">漫游指南</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">大数据<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">Hadoop</a>
                                </li>
                                <li>
                                    <a href="#">Hbase</a>
                                </li>
                                <li>
                                    <a href="#">Hive</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="https://blog.csdn.net/zhangdy12307/article/category/8940218">Spark</a>
                                </li>
                                <li>
                                    <a href="https://blog.csdn.net/zhangdy12307/article/category/8833490">MapReduce</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="https://blog.csdn.net/zhangdy12307/article/category/8801041">数据挖掘</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">人工智能<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://blog.csdn.net/zhangdy12307/article/category/8932157">机器学习</a>
                                </li>
                                <li>
                                    <a href="#">深度学习</a>
                                </li>
                                <li>
                                    <a href="#">更多</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">番外连接<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="AIController.html">人工智能控制台</a>
                                </li>
                                <li>
                                    <a href="BigController.html">大数据控制台</a>
                                </li>
                                <li>
                                    <a href="#">影集</a>
                                </li>
                                <li>
                                    <a href="https://blog.csdn.net/zhangdy12307">个人博客</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">创意展示<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">计算机视觉</a>
                                </li>
                                <li>
                                    <a href="#">自然语言处理</a>
                                </li>
                                <li>
                                    <a href="#">实用小脚本</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">学校的实验报告</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <br>
            <br>
            <br>
            <br>
            <div class="jumbotron">
                <h1>
                    世界，你好！
                </h1>
                <p>
                    这是一个清爽简介的页面，在这里，你可以发呆，也可以欣赏我们的创意作品，还可以发呆
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">了解更多</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2>
                大数据专栏
            </h2>
            <p>
                这个专栏记录了大数据的学习历程，总结了Hadoop，Spark，Strom中遇到的问题和解决方案，还有一些作品展示
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                人工智能专栏
            </h2>
            <p>
                这个专栏记录了人工智能的学习历程，总结了机器学习，深度学习技术方面的遇到的问题和解决方案，以及一些作品展示
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                创意展示专栏
            </h2>
            <p>
                这个专栏主要展示我们的创意作品以及项目简介
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container" style="background-color: #eeeeee">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h2>
                    个人简介
                </h2>
                <p>
                    《获利准则》第83条：每个人都有他对应的价格。
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
        </div>
    </div>

</div>
<div class="container" style="color:#333">
    <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-8 column">
            <div class="alert alert-dismissable alert-info">
                <h5 style="text-align:center">晋ICP备19005022号<br>友情连接：<a href="http://www.beian.miit.gov.cn">信息产业部备案管理系统网址</a></h5>
            </div>
        </div>
        <div class="col-md-2 column">
        </div>
    </div>
</div>
</body>
</html>