<!doctype html>
<html>

<head>
<meta charset="utf-8">
<title>基于Echarts的HTML5 Canvas中国地图DEMO演示</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            $("#pageSearch a").click(function(){
                var searchs= window.location.search.split("&");
                var title;
                var i = 0;
                for(; i<searchs.length; i++) {
                    if(searchs[i].indexOf("title") != -1) {
                        title = searchs[i].split("=")[1];
                        break;
                    }
                }
                var size=10;
                var pageNum = -1;
                pageNum = $(this).attr('name');
                console.log("pageNum is " + pageNum)
                window.location.href = "../esSearch/findNewsESFuzzy?title=" + title + "&pageSize=10&pageNum=" +  pageNum
                // window.location.href = '../esSearch/findNewsESFuzzy?title=' + title + 'pageSize=10' + 'pageNum=' + pageNum;
                // $.ajax({
                //     url:"/esSearch/findNewsESFuzzy",//要请求的服务器url
                //     data:{"title":title,"pageSize":size,pageNum:pageNum},//第一个name对应的是后端request.getParameter("name")的name、第二个name对应的是此js中的var name = $("#name").val();的name
                //     async:false,//是否是异步请求
                //     cache:false,//是否缓存结果
                //     type:"get",//请求方式
                //     dataType:"text",//服务器返回什么类型数据 text xml javascript json(javascript对象)
                //     success:function(result){//函数会在服务器执行成功后执行，result就是服务器返回结果
                //         console.log(result)
                //     },
                //     error:function(jqXHR, textStatus, errorThrown) {

                //     }
                // });
            });
            $("#search").click(function(){
                var title=$("#titleSearch").val();
                var size=10;
                var pageNum = $("#pageNum").val();
                $.ajax({
                    url:"/esSearch/findAllNews",//要请求的服务器url
                    data:{"title":title,"pageSize":size,pageNum:pageNum},//第一个name对应的是后端request.getParameter("name")的name、第二个name对应的是此js中的var name = $("#name").val();的name
                    async:true,//是否是异步请求
                    cache:false,//是否缓存结果
                    type:"get",//请求方式
                    dataType:"text",//服务器返回什么类型数据 text xml javascript json(javascript对象)
                    success:function(result){//函数会在服务器执行成功后执行，result就是服务器返回结果
                    },
                    error:function(jqXHR, textStatus, errorThrown) {

                    }
                });
            });

        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">大数据<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">Hadoop</a>
                                    </li>
                                    <li>
                                        <a href="#">Hbase</a>
                                    </li>
                                    <li>
                                        <a href="#">Hive</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="https://blog.csdn.net/zhangdy12307/article/category/8940218">Spark</a>
                                    </li>
                                    <li>
                                        <a href="https://blog.csdn.net/zhangdy12307/article/category/8833490">MapReduce</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="https://blog.csdn.net/zhangdy12307/article/category/8801041">数据挖掘</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">人工智能<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="https://blog.csdn.net/zhangdy12307/article/category/8932157">机器学习</a>
                                    </li>
                                    <li>
                                        <a href="#">深度学习</a>
                                    </li>
                                    <li>
                                        <a href="#">更多</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search" id="titleSearch">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="请输入查询条件" name="title" id="title"/>
                            </div> <button type="submit" class="btn btn-default" id="search">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">番外连接<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="AIController.html">人工智能控制台</a>
                                    </li>
                                    <li>
                                        <a href="BigController.html">大数据控制台</a>
                                    </li>
                                    <li>
                                        <a href="#">影集</a>
                                    </li>
                                    <li>
                                        <a href="https://blog.csdn.net/zhangdy12307">个人博客</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">创意展示<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">计算机视觉</a>
                                    </li>
                                    <li>
                                        <a href="#">自然语言处理</a>
                                    </li>
                                    <li>
                                        <a href="#">实用小脚本</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">学校的实验报告</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                </nav>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                分类编号
                            </th>
                            <th>
                                分类
                            </th>
                            <th>
                                新闻详情
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <#list newsPageInfo.list as new>
                            <tr>
                                <td>
                                    ${(new.id)!}
                                </td>
                                <td>
                                    ${(new.categoryCode)!}
                                </td>
                                <td>
                                    ${(new.categoryName)!}
                                </td>
                                <td>
                                    ${(new.title)!}
                                </td>
                            </tr>
                        </#list>
                        <#list 0..showSize as t>
                            <tr height="25px">
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </#list>
                    </tbody>
                </table>
                <ul class="pagination pagination-sm" id = "pageSearch">
                    <#list newsPageInfo.navigatepageNums as page>
                        <#if page_index = 0 && page != 1>
                            <li>
                                <a href="javascript:pageSearch" name = ${(newsPageInfo.startRow)!}>${(newsPageInfo.startRow)!}</a>
                            </li>
                            <#if page != 2>
                                <li>
                                    <a href="javascript:;">..</a>
                                </li>
                            </#if>
                        </#if>
                        <li>
                            <a href="javascript:pageSearch" type= "submit" name =${(page)!} >${(page)!}</a>
                        </li>
                        <#if !page_has_next && page != newsPageInfo.endRow>
                           <#if page != newsPageInfo.endRow -1>
                            <li>
                                <a href="javascript:pageSearch">..</a>
                            </li>
                           </#if>
                            <li>
                                <a href="javascript:pageSearch" name = ${(newsPageInfo.endRow)!}>${(newsPageInfo.endRow)!}</a>
                            </li>
                        </#if>
                    </#list>
                </ul>
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <h2>现在的热搜</h2>
                        <h3><span class="label label-info">星际迷航</span></h3>
                        <#list hotWordList as word>
                            <h3><span class="label label-info">${(word)!}</span></h3>
                        </#list>
                    </div>
                    <div class="col-md-6 column">
                        <h2>本站的热词</h2>
                        <h3><span class="label label-primary">星际迷航</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>